
body
{
    background-color:#000000;

}
.Titel{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #ffffff;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.titel{ /* Titel */
    color: #993e3e;
    text-decoration:none;
    margin-right: 20px;
    animation: rgbEffect 4s infinite;
}
.HomePagePicture{
    border-radius: 10px;
    margin-top: 30px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Zutatentitel{ /* Titel */
    margin-left: 20px;
    font-size: 25px;
    color: #993e3e;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    animation: rgbEffect 4s infinite;
}
.Zutatenliste{ 
    color: #ffffff;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.zubereitung{ /* Titel */
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #993e3e;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    animation: rgbEffect 4s infinite;
}
.zubereitungliste{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #ffffff;
    text-decoration:none;
    max-width: 1000px;
    margin-left: 23.5%;
    line-height: 1.6;
}
.Zusatz{ /* Titel */
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #993e3e;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    animation: rgbEffect 4s infinite;
}
.Zusatziste{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #ffffff;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    max-width: 1000px;
    margin-left: 23.5%;
    line-height: 1.6;
}
.bildright-container {
    display: flex;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bild{
    border-radius: 20px;
    width: 600px;
    height: auto;
    margin-right: 250px;
    margin-top: 10px;
}

.bildrighttext {
    margin-left: 300px;
    font-size: 25px;
    line-height: 1.6;
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bildrightbesch {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.abstand{
    margin-right: 160px;
}
.Impressum{ /* Titel */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #993e3e;
    text-decoration:none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold; 
    animation: rgbEffect 4s infinite;
}
.Impressumtext {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold; 
}
@keyframes rgbEffectd {
    0% {
        box-shadow: 0 0 5px red, 0 0 15px red;
        background-color: #993e3e; 
    }
    50% {
        box-shadow: 0 0 5px green, 0 0 15px green;
        background-color: #3e994c; 
    }
    100% {
        box-shadow: 0 0 5px red, 0 0 15px red;
        background-color: #993e3e; 
    }
}
@keyframes rgbEffect {
    0% {
        color: red;
    }
    50% {
        color: green;
    }
    100% {
        color: red;
    }
    }

.downloadButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin: 5px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
    margin-top: 15px;
    position: relative;

    animation: rgbEffectd 4s infinite;
}

.downloadButton:hover {
    background-color: #00741f;
}

.headmenu
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navigation{
    color: rgb(0, 0, 0);
    text-decoration:none;
    margin-right: 20px;
}
#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .snowflake {
    position: fixed;

    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 24px; 
    color: #c9c9c9;
  }
  #disableSelection {
    user-select: none;
}
.strikethrough {
    text-decoration: line-through;
}
.container {
    display: flex; 
    margin-right: 10px; 
    width: 2px;
    height: auto;
  }
  .img {
    border-radius: 20px; 
    width: 300px;
    height: auto; 
    margin-right: 10px; 
  }
  .zubereitungbild{
    border-radius: 20px;
    width: 300px;
    height: auto; 
    margin-right: 10px; 
  }