body
{
    background-color:#F0F2EA;
}
.Titel{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}
.titel{
    color: #80083E;
    text-decoration:none;
    margin-right: 20px;
}
.HomePagePicture{
    border-radius: 10px;
    margin-top: 30px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Zutatentitel{
    margin-left: 20px;
    font-size: 25px;
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Zutatenliste{ 
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.zubereitung{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.zubereitungliste{
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #80083E;
    text-decoration:none;
    max-width: 1000px;
    margin-left: 23.5%;
    line-height: 1.6;
}
.Zusatz{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.Zusatziste{
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #80083E;
    text-decoration:none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    max-width: 1000px;
    margin-left: 23.5%;
    line-height: 1.6;
}
.bildright-container {
    display: flex;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bild{
    border-radius: 20px;
    width: 600px;
    height: auto;
    margin-right: 250px;
    margin-top: 10px;
}

.bildrighttext {
    margin-left: 300px;
    font-size: 25px;
    line-height: 1.6;
    color: #80083E;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.bildrightbesch {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.abstand{
    margin-right: 32px;
}
.Impressum{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration:none;
    margin-right: 20px;
    font-size: 25px;
}
.Impressumtext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration:none;
    margin-right: 20px;
    font-size: 25px;
}
.downloadButton {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    background-color: #f2f2f2;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 849px;
    margin-top: 15px;
}

.downloadButton:hover {
    background-color: #ddd;
}
